body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* width: 100vw !important; */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #fafafa;
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f9701f;
}
